.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer img.footerlogo{
  width: 100px;
  height: 40px;
  margin: 50px 0px;
}

footer p{
  font-size: 17px;
}

footer .footer-contact{
  display: flex;
}

footer .footer-contact .footer-icon{
  margin-right: 20px;
  height: 40px;
  width: 40px;
  background-color: var(--orrange-color);
}

footer .footer-contact .footer-icon svg{
  color: #fff;
  background-color: var(--orrange-color);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding-left: 10px;
}

footer .footer-text {
  color: var(--orrange-color) !important;
}